.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.titulo{
  color: var(--titulo);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  padding-bottom: 50px;
}

.board__status {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.status {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--paragrafo);
}



/* ESTA CLASSE É A CHAVE: coloca os 3 botões na horizontal */
.board-row {
  display: flex;
  flex-direction: row; /* Força os filhos a ficarem lado a lado */
  align-items: center;
}