.square {
  /* Tamanho fixo e inalterável */
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  flex-shrink: 0;

  /* Centralização perfeita sem deslocamento */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Tipografia cravada */
  font-size: 2rem;
  line-height: 1; /* IMPEDIMENTO: Trava a altura de linha da fonte '2rem' */
  font-weight: 700;
  color: var(--titulo);

  /* Visual da célula */
  background-color: var(--tabuleiro);
  border: 2px solid var(--bordas);
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.square:hover {
  background-color: var(--fundo);
}


/* Modificador BEM: Quando o quadrado é campeão */
.square--winning {
  background-color: var(--fundo-ganhador) !important;
  color: var(--paragrafo) !important;
  border-color: var(--borda-ganhador) !important;
  box-shadow: 0 4px 10px var(----tranparencia);
}